<header>
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold is-size-4" href={% link index.md %}>Oly Su</a>
        <div class="navbar-item">Product Designer &amp; Developer</div>
      </div>
      {% comment %}
      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            Work
            <div class="navbar-dropdown">
              <a href={% link docs/portfolio-qantas-holidays.md %}>Qantas Holidays</a>
              <a href={% link docs/portfolio-estimateone.md %}>EstimateOne</a>
              <a href={% link docs/portfolio-statsnz.md %}>Stats NZ</a>
              <a href={% link docs/portfolio-westpacnz.md %}>Westpac NZ</a>
              <a href={% link docs/portfolio-swinburne.md %}>Swinburne University</a>
            </div>
          </div>
          <a class="navbar-item" href="./about.html">About</a>
          <a class="navbar-item" href="./contact.html">Contact</a>
        </div>
      </div>
      {% endcomment %}
    </nav>
  </div>
</header>
